@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-img{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: calc(100vh - 80px);
  z-index: 11;
  border-radius: 25px;
  left: 40px;
  top: 40px;
  box-shadow: 0 0 7px rgba(0, 0, 0, .9);
}
@media (max-width: 768px) {
  .hero-img{
    width: 230px;
    height: 230px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 auto 25px;
    border: 4px solid #707070;
  }
}
input:placeholder-shown{
  color: white;
  height: 3px;
  font-size: xx-small;
}
input{
  color: white;
  font-size: xx-small;
  padding-block: 18px;
  padding-inline: 10px;
}
textarea{
  font-size: xx-small;
}
textarea:placeholder-shown{
  font-size: x-small;
  color: #eab308;
}
.para{
  font-size: x-small;
  font-weight: normal;
}
.contact-h{
  color: gray;
  font-size: x-small;
  font-weight: normal;
}
.contact-p{
  font-size:small;
  font-weight: 300;
}