@tailwind base;
@tailwind components;
@tailwind utilities;


.hero-img{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: calc(100vh - 150px);
  width: 700px;
  z-index: 11;
  border-radius: 25px;
  box-shadow: 0 0 7px rgba(40, 40, 40, 0.9);
  color: rgb(255, 0, 0);
}
@media (max-width: 768px) {
  .hero-img{
    width: 230px;
    height: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    border: 4px solid #707070;
  }
}
input:placeholder-shown{
  color: white;
  font-size: medium;
}
input{
  padding: 10px;
  color: white;
}
textarea{
  font-size: large;
}
textarea:placeholder-shown{
  font-size: medium;
  color: #eab308;
}
.info{
  align-items: center;
}
.contact-h{
  color: rgb(59, 130, 246);
  font-size: larger;
  font-weight: normal;
}
.contact-p{
  font-size: medium;
  font-weight: 300;
}
.about-item{
  /* text-align: center; */
  align-items: center;
}
.col-12{
  flex: 0 0 auto;
}